Binaries
DerivedDataCache
Intermediate
Saved
Build/Windows
Build/WindowsServer
Build/WindowsClient
Build/Windows.rar
Build/WindowsServer.rar
Build/WindowsClient.rar
Build/Linux
Build/LinuxServer
Platforms/HoloLens

.vsconfig
.vscode
.vs
.idea/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log

Content/COMMIT_OFF
